<html>
    <head>
        <link href="/assets/css/app.css" rel="stylesheet" type="text/css"/>
        <title>Start payment</title>
    </head>
    <body>
        <div>
            Click below to start the payment process
        </div>
        <form action="/start-payment" method="POST">
            <input class="button" type="submit" value="Start payment">
        </form>
    </body>
</html>